@{
    ViewData["Title"] = "Delete Your Data";
}

<h1>Delete Your Data</h1>
<p>
    If you want to request deletion of your personal data, please email us at:
    <strong>support@example.com</strong>
</p>
